name: lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # pin@v1.276.0
        with:
          bundler-cache: true

      - name: lint
        run: script/lint
