name: lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@f8d7259c7a66155a7c4a157a1a10ca601f186594 # pin@v1.271.0
        with:
          bundler-cache: true

      - name: lint
        run: script/lint
